#left-panel {
  font-size: 14px;
  /* border: 1px solid #ff0000; */
}

#main-panel {
  font-size: 24px;
  /* border: 1px solid seagreen; */
}

#right-panel {
  font-size: 14px;
  /* border: 1px solid rebeccapurple; */
}

.convo-message-left {
  padding-right: 80px;
}

.convo-message-right {
  padding-left: 80px;
}

.left-col .user-avatar, .right-col .user-avatar {
  width: 32px;
}
